In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Airport_Data_2019 = "2019_T_T100_MARKET_ALL_CARRIER.csv"
Airport_Data_2020 = "2020_T_T100_MARKET_ALL_CARRIER.csv"

In [3]:
Airport_Data_2019_df = pd.read_csv(Airport_Data_2019)
Airport_Data_2020_df = pd.read_csv(Airport_Data_2020)

In [4]:
Airport_Data_2019_df.count()

PASSENGERS             321168
CARRIER                321168
CARRIER_NAME           321168
ORIGIN                 321168
ORIGIN_CITY_NAME       321168
ORIGIN_STATE_ABR       293012
ORIGIN_COUNTRY         321168
ORIGIN_COUNTRY_NAME    321168
DEST                   321168
DEST_CITY_NAME         321168
DEST_STATE_ABR         292196
DEST_COUNTRY           321168
DEST_COUNTRY_NAME      321168
YEAR                   321168
QUARTER                321168
MONTH                  321168
DISTANCE_GROUP         321168
CLASS                  321168
DATA_SOURCE            321168
Unnamed: 19                 0
dtype: int64

In [5]:
Airport_Data_2020_df.count()

PASSENGERS             139546
CARRIER                139546
CARRIER_NAME           139542
ORIGIN                 139546
ORIGIN_CITY_NAME       139546
ORIGIN_STATE_ABR       128557
ORIGIN_COUNTRY         139546
ORIGIN_COUNTRY_NAME    139546
DEST                   139546
DEST_CITY_NAME         139546
DEST_STATE_ABR         128200
DEST_COUNTRY           139546
DEST_COUNTRY_NAME      139546
YEAR                   139546
QUARTER                139546
MONTH                  139546
DISTANCE_GROUP         139546
CLASS                  139546
DATA_SOURCE            139546
Unnamed: 19                 0
dtype: int64

In [12]:
df_list = [Airport_Data_2019_df,Airport_Data_2020_df]
Flights_df = pd.concat(df_list)
Flights_df

,PASSENGERS,CARRIER,CARRIER_NAME,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_COUNTRY,DEST_COUNTRY_NAME,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 19
0,0.0,EM,Empire Airlines Inc.,ABQ,"Albuquerque, NM",NM,US,United States,DRO,"Durango, CO",CO,US,United States,2019,1,3,1,G,DU,NaN
1,0.0,EM,Empire Airlines Inc.,ABQ,"Albuquerque, NM",NM,US,United States,FMN,"Farmington, NM",NM,US,United States,2019,1,3,1,G,DU,NaN
2,0.0,EM,Empire Airlines Inc.,AFW,"Dallas/Fort Worth, TX",TX,US,United States,ICT,"Wichita, KS",KS,US,United States,2019,1,3,1,G,DU,NaN
3,0.0,EM,Empire Airlines Inc.,AFW,"Dallas/Fort Worth, TX",TX,US,United States,LBB,"Lubbock, TX",TX,US,United States,2019,1,3,1,G,DU,NaN
4,0.0,EM,Empire Airlines Inc.,AFW,"Dallas/Fort Worth, TX",TX,US,United States,MAF,"Midland/Odessa, TX",TX,US,United States,2019,1,3,1,G,DU,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139541,72962.0,HA,Hawaiian Airlines Inc.,HNL,"Honolulu, HI",HI,US,United States,OGG,"Kahului, HI",HI,US,United States,2020,1,1,1,F,DU,NaN
139542,84608.0,DL,Delta Air Lines Inc.,ATL,"Atlanta, GA",GA,US,United States,MCO,"Orlando, FL",FL,US,United States,2020,1,2,1,F,DU,NaN
139543,85349.0,DL,Delta Air Lines Inc.,MCO,"Orlando, FL",FL,US,United States,ATL,"Atlanta, GA",GA,US,United States,2020,1,2,1,F,DU,NaN
139544,86715.0,DL,Delta Air Lines Inc.,ATL,"Atlanta, GA",GA,US,United States,MCO,"Orlando, FL",FL,US,United States,2020,1,1,1,F,DU,NaN
139545,91173.0,DL,Delta Air Lines Inc.,MCO,"Orlando, FL",FL,US,United States,ATL,"Atlanta, GA",GA,US,United States,2020,1,1,1,F,DU,NaN

In [15]:
 # Airline name as new index
Airline_index = Flights_df.set_index("CARRIER_NAME")
Airline_index.head()

,PASSENGERS,CARRIER,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_COUNTRY,DEST_COUNTRY_NAME,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Unnamed: 19
CARRIER_NAME,,,,,,,,,,,,,,,,,,,
Empire Airlines Inc.,0.0,EM,ABQ,"Albuquerque, NM",NM,US,United States,DRO,"Durango, CO",CO,US,United States,2019,1,3,1,G,DU,NaN
Empire Airlines Inc.,0.0,EM,ABQ,"Albuquerque, NM",NM,US,United States,FMN,"Farmington, NM",NM,US,United States,2019,1,3,1,G,DU,NaN
Empire Airlines Inc.,0.0,EM,AFW,"Dallas/Fort Worth, TX",TX,US,United States,ICT,"Wichita, KS",KS,US,United States,2019,1,3,1,G,DU,NaN
Empire Airlines Inc.,0.0,EM,AFW,"Dallas/Fort Worth, TX",TX,US,United States,LBB,"Lubbock, TX",TX,US,United States,2019,1,3,1,G,DU,NaN
Empire Airlines Inc.,0.0,EM,AFW,"Dallas/Fort Worth, TX",TX,US,United States,MAF,"Midland/Odessa, TX",TX,US,United States,2019,1,3,1,G,DU,NaN